html.dark {
    background-color: #0a0a0a;
}

body {
    font-family: 'Inter', sans-serif;
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior-x: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

[x-cloak] {
    display: none !important;
}

.sortable-ghost {
    opacity: 0.4;
    background: #dce2ed;
}

.dark .sortable-ghost {
    background: #39496d;
}

[contenteditable]:empty:before {
    content: attr(placeholder);
    color: #9ca3af;
    cursor: text;
}

[contenteditable]:focus {
    outline: none;
    border-bottom-color: #526ca2;
}

/* Custom Scrollbar for Advanced Mode */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #334155;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background: #5b3c88;
    /* jw-600 */
}

.dark .custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background: #5b3c88;
}